body {
  margin: 0;
  min-height: 80vh;
  font-family: cursive;
  background:url('https://i.ibb.co/VRKyPzZ/f4f203bf26bf28c2bf5db1806ca139fd.jpg');
  color: #4d0d22;
  padding: 150px;
}

.quiz-container {
  max-width: 2200px;
  margin: auto;
  background:linear-gradient(to bottom right, #6b2341, #880c4a);
  padding: 30px;
  border-radius: 45px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #fcc2d9;
  font-family: pacifico, cursive;
  font-size: 120px;
  margin-bottom: 90px;
}

.question-block {
  margin-bottom: 60px;
  animation: fadeIn 0.5s ease;
}

.question {
  font-size: 3rem;
  font-weight: 600;
  background-color: #ffeef4;
  padding: 20px;
  border-left: 5px solid #690135;
  border-radius: 8px;
  margin-bottom: 20px;
}

.answer {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: vertical;
  box-sizing: border-box;
}

.next-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #e696bc;
  color: rgb(51, 2, 33);
  border: none;
  border-radius: 25px;
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  background-color: #e055a0;
}

.submit-btn {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #f08bad;
    color: rgb(56, 2, 27);
    border: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-colour 0.3s ease;
}

.submit-btn:hover {
    background-color: #ff0088;
}